<section class="my-5">
    <div class="container">
        <div class="row">
            

            @for (item of homeMovies; track $index) {
                <div class="col-md-4 border rounded gap-1 my-3">
                    <img [src]="imgPath+item.poster_path" class="img-fluid">
                    <h3 class="bg-warning my-2" >{{item.title??item.name}}</h3>
                    <p class="text-info-emphasis text-truncate">{{item.overview}}</p>
                </div>
            }
        </div>

    </div>

    
</section>